export PYENV_ROOT="$HOME/.pyenv"
export CONN_CHECK_SECRET=9e5bcc0a4904f12f59124c1b13255f31820a322885e764ee306f61a8828157bd
export BARE_REPO_ROOT
BARE_REPO_ROOT=$(realpath .)

# Disable go.work for CLI tools (pre-commit hooks, etc.)
# Neovim LSPs override this to use go.work for cross-module navigation
export GOWORK=off

export NVIM_LOCAL_ROOT_CONFIG_PATH="$BARE_REPO_ROOT/.direnv/.nvim.lua"

# export DOCKER_HOST=unix://$HOME/.rd/docker.sock
# export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
# export TESTCONTAINERS_HOST_OVERRIDE
# TESTCONTAINERS_HOST_OVERRIDE=$(rdctl shell ip a show vznat | awk '/inet / {sub("/.*",""); print $2}')

PATH_add "$PYENV_ROOT/bin"
PATH_add "$PYENV_ROOT/shims"
PATH_add "$BARE_REPO_ROOT/.direnv/bin"
PATH_add "$BARE_REPO_ROOT/main/tools/scripts/network-zshrc"

# echo "Tools:"
# echo "$(python3 --version) ($(which python3))"
# echo "$(go version) ($(which go))"
# echo "$(aws --version) ($(which aws))"
# echo "node $(node --version) ($(which node))"
# echo "npm $(npm --version) ($(which npm))"
